
	<div class="row nav">
		<div class="col-sm-8">
			<h1 class="title">ÖVA</h1>
			
		</div>
        <div class="col-sm-2">
            <small class="pull-right" id="greeting">Welcome, <%=@user['firstname']%></small> 
        </div>    
		<div class="col-sm-1">
			<%=image_tag(@user['profile_img'], id: 'profile_pic')%>&nbsp
		</div>
		<div class="navbar-header col-sm-1">
            <div class="dropdown">
                <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img alt="menu" src="menu-3-256.png" id="burger" class="pull-right">
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" id="indexDrop">
                    <li><a href="">update best efforts</a></li>
                    <li><a href="">save plan</a></li>
                    <li><a href="">view plans</a></li>
                       <li><%= button_to "Logout", logout_path, method: "get", class: "btn btn-danger btn-xs" %></li>
                </ul>
            </div>  
        </div>

	    
</div>
	</div>

<div class="container"ng-app="coachApp">
	<br>
    <div ng-controller="indexCtrl">
        <label>Weekly Mileage</label>
        <input ng-model='plan.miles' type="number"><br><br>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
                <div id="boxes" class="col-md-8">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.monday" value="1" class="checkbox">
                        Mon&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.tuesday" value="1" class="checkbox">
                        Tues&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.wednesday" value="1" class="checkbox">
                        Wed&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.thursday" value="1" class="checkbox">
                        Thurs&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.friday" value="1" class="checkbox">
                        Fri&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.saturday" value="1" class="checkbox">
                        Sat&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="plan.sunday" value="1" class="checkbox">
                        Sun&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                </div>
                <div class="col-md-2"></div>
            </div>
            <hr>
            <p></p>
            <p>Average daily mileage: <span ng-if="plan.monday + plan.tuesday + plan.wednesday + plan.thursday + plan.friday + plan.saturday + plan.sunday > 0">{{plan.miles / (plan.monday + plan.tuesday + plan.wednesday + plan.thursday + plan.friday + plan.saturday + plan.sunday) | number:2}}</span></p>
    
            <a ng-click="calcTotal()" class="btn btn-default btn-sm">Get Plan</a><br><br>

   
    <table class="table">
        <theader>
            <tr id="days">
                <th style="text-align: center;">Monday</th>
                <th style="text-align: center;">Tuesday</th>
                <th style="text-align: center;">Wednesday</th>
                <th style="text-align: center;">Thursday</th>
                <th style="text-align: center;">Friday</th>
                <th style="text-align: center;">Saturday</th>
                <th style="text-align: center;">Sunday</th>
            </tr>
        </theader>
        <tr>
            <td style="text-align: center;"><a ng-href='{{plan.monUrl}}' target="_blank">{{plan.monData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.tuesUrl}}' target="_blank">{{plan.tuesData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.wedUrl}}' target="_blank">{{plan.wedData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.thursUrl}}' target="_blank">{{plan.thursData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.friUrl}}' target="_blank">{{plan.friData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.satUrl}}' target="_blank">{{plan.satData | number:2}}</a></td>
            <td style="text-align: center;"><a ng-href='{{plan.sunUrl}}' target="_blank">{{plan.sunData | number:2}}</a></td>
        </tr>
        <tr>                 
            <td><a ng-href='{{plan.monUrl}}' target="_blank"><img ng-src='{{plan.monday && (plan.monMap || "runDay.png") || "chillDay.jpg"}}' class="day"  onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.tuesUrl}}' target="_blank"><img ng-src='{{plan.tuesday && (plan.tuesMap || "runDay.png") || "chillDay.jpg"}}' class="day" onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.wedUrl}}' target="_blank"><img ng-src="{{plan.wednesday && (plan.wedsMap || 'runDay.png') || 'chillDay.jpg'}}" class="day" onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.thursUrl}}' target="_blank"><img ng-src="{{plan.thursday && (plan.thursMap || 'runDay.png') || 'chillDay.jpg'}}" class="day" onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.friUrl}}' target="_blank"><img ng-src="{{plan.friday && (plan.friMap || 'runDay.png') || 'chillDay.jpg'}}" class="day" onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.satUrl}}' target="_blank"><img ng-src="{{plan.saturday && (plan.satMap || 'runDay.png') || 'chillDay.jpg'}}" class="day" onerror="this.src='runningSplash.jpg'"></a></td>
            <td><a ng-href='{{plan.sunUrl}}' target="_blank"><img ng-src="{{plan.sunday && (plan.sunMap || 'runDay.png') || 'chillDay.jpg'}}" class="day" onerror="this.src='runningSplash.jpg'"></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr>
    </div>

</div>
<script>
	var app = angular.module('coachApp', ['ngRoute', 'ngResource']);

app.controller('indexCtrl', ['$scope', '$sce', function($scope, $sce){
    
    $scope.test = "This is a sanity check";
    console.log($scope.test);
    $scope.plan = {}
    $scope.plan.miles = 0;
    $scope.plan.days = 0;
    $scope.plan.total = 0;
    $scope.plan.runs = <%=@user_runs.to_json.html_safe%>;
    console.log('runs: ')
    console.log($scope.plan.runs)
    console.log("***********************************************")

	$scope.grabRun = function(){
		console.log($scope.plan.miles);
		$scope.plan.runs.forEach(function(run){

                if(run.distance * 0.000621371 >= $scope.plan.miles - 0.5 && run.distance * 0.000621371 <= $scope.plan.miles + 0.5 ){
                	console.log(run.distance);
                	console.log(run.name);
                	console.log(run['map']['summary_polyline']);
                }
            });
	};
   
    $scope.calcTotal = function(){
        var weekMiles;
        var weekendMiles;
        var findRun = function(dist){
        	var counter = 1;
            var res = [];
            $scope.plan.runs.forEach(function(run){
                if(run.distance > 50 && run.distance * 0.000621371 >= dist - 0.65 && run.distance * 0.000621371<= dist + 0.65 && run['map']['summary_polyline'] !== null){
                	console.log(counter);
                	console.log(run.name);
                    res.push(run);
                    counter++;
                }
            });
            return res;
        };
        $scope.plan.monMap = null;
        $scope.plan.tuesMap = null;
        $scope.plan.wedsMap = null;
        $scope.plan.thursMap = null;
        $scope.plan.friMap = null;
        $scope.plan.satMap = null;
        $scope.plan.sunMap = null;
        
        
        $scope.plan.days = (($scope.plan.monday ? 1 : 0)
                                                      + ($scope.plan.tuesday ? 1 : 0)
                                                      + ($scope.plan.wednesday ? 1 : 0)
                                                      + ($scope.plan.thursday ? 1 : 0)
                                                      + ($scope.plan.friday ? 1 : 0)
                                                      + ($scope.plan.saturday ? 1 : 0)
                                                      + ($scope.plan.sunday ? 1 : 0));
        
        if($scope.plan.saturday && $scope.plan.sunday && ($scope.plan.days > 3)){
            $scope.plan.satData = $scope.plan.miles * .30;
            $scope.plan.sunData = $scope.plan.miles * .25;
            weekMiles = ($scope.plan.miles * .45) / ($scope.plan.days - 2);
            $scope.plan.monData = $scope.plan.monday ? weekMiles : 0;
            $scope.plan.tuesData = $scope.plan.tuesday ? weekMiles : 0;
            $scope.plan.wedData = $scope.plan.wednesday ? weekMiles : 0;
            $scope.plan.thursData = $scope.plan.thursday ? weekMiles : 0;
            $scope.plan.friData = $scope.plan.friday ? weekMiles : 0;
            
            $scope.plan.satRuns = findRun($scope.plan.satData);
            $scope.plan.satRun = $scope.plan.satRuns[Math.floor(Math.random() * $scope.plan.satRuns.length)];
            if($scope.plan.satRun){
                $scope.plan.satUrl = "http://www.strava.com/activities/" + $scope.plan.satRun.id;
    			$scope.plan.satCoords = getCoordsFromPoly($scope.plan.satRun['map']['summary_polyline']);
    			$scope.plan.satMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.satRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.satCoords[1]+ ","
    				+ $scope.plan.satCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.sunRuns = findRun($scope.plan.sunData);
            $scope.plan.sunRun = $scope.plan.sunRuns[Math.floor(Math.random() * $scope.plan.sunRuns.length)];
            if($scope.plan.sunRun){
                $scope.plan.sunUrl = "http://www.strava.com/activities/" + $scope.plan.sunRun.id;
    			$scope.plan.sunCoords = getCoordsFromPoly($scope.plan.sunRun['map']['summary_polyline']);
    			$scope.plan.sunMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.sunRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.sunCoords[1]+ ","
    				+ $scope.plan.sunCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }    
            $scope.plan.monRuns = findRun($scope.plan.monData);
            $scope.plan.monRun = $scope.plan.monRuns[Math.floor(Math.random() * $scope.plan.monRuns.length)];
            if($scope.plan.monRun){
                $scope.plan.monUrl = "http://www.strava.com/activities/" + $scope.plan.monRun.id;
    			$scope.plan.monCoords = getCoordsFromPoly($scope.plan.monRun['map']['summary_polyline']);
    			$scope.plan.monMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.monRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.monCoords[1]+ ","
    				+ $scope.plan.monCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }    
            $scope.plan.tuesRuns = findRun($scope.plan.tuesData);
            $scope.plan.tuesRun = $scope.plan.tuesRuns[Math.floor(Math.random() * $scope.plan.tuesRuns.length)];
            if($scope.plan.tuesRun){
                $scope.plan.tuesUrl = "http://www.strava.com/activities/" + $scope.plan.tuesRun.id;
    			$scope.plan.tuesCoords = getCoordsFromPoly($scope.plan.tuesRun['map']['summary_polyline']);
    			$scope.plan.tuesMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.tuesRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.tuesCoords[1]+ ","
    				+ $scope.plan.tuesCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.wedRuns = findRun($scope.plan.wedData);
            $scope.plan.wedRun = $scope.plan.wedRuns[Math.floor(Math.random() * $scope.plan.wedRuns.length)];
            if($scope.plan.wedRun){
                $scope.plan.wedUrl = "http://www.strava.com/activities/" + $scope.plan.wedRun.id;
    			$scope.plan.wedCoords = getCoordsFromPoly($scope.plan.wedRun['map']['summary_polyline']);
    			$scope.plan.wedsMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.wedRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.wedCoords[1]+ ","
    				+ $scope.plan.wedCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.thursRuns = findRun($scope.plan.thursData);
            $scope.plan.thursRun = $scope.plan.thursRuns[Math.floor(Math.random() * $scope.plan.thursRuns.length)];
            if($scope.plan.thursRun){
                $scope.plan.thursUrl = "http://www.strava.com/activities/" + $scope.plan.thursRun.id;
    			$scope.plan.thursCoords = getCoordsFromPoly($scope.plan.thursRun['map']['summary_polyline']);
    			$scope.plan.thursMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.thursRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.thursCoords[1]+ ","
    				+ $scope.plan.thursCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.friRuns = findRun($scope.plan.friData);
            $scope.plan.friRun = $scope.plan.friRuns[Math.floor(Math.random() * $scope.plan.friRuns.length)];
            if($scope.plan.friRun){
                $scope.plan.friUrl = "http://www.strava.com/activities/" + $scope.plan.friRun.id;
    			$scope.plan.friCoords = getCoordsFromPoly($scope.plan.friRun['map']['summary_polyline']);
    			$scope.plan.friMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
    				+ encodeURI($scope.plan.friRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
    				+ $scope.plan.friCoords[1]+ ","
    				+ $scope.plan.friCoords[0]
    				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }           
        }else if(($scope.plan.saturday || $scope.plan.sunday) && ($scope.plan.days > 3)){
            weekendMiles = $scope.plan.miles * .30;
            weekMiles = ($scope.plan.miles * .7) / ($scope.plan.days - 1);
            $scope.plan.monData = $scope.plan.monday ? weekMiles : 0;
            $scope.plan.tuesData = $scope.plan.tuesday ? weekMiles : 0;
            $scope.plan.wedData = $scope.plan.wednesday ? weekMiles : 0;
            $scope.plan.thursData = $scope.plan.thursday ? weekMiles : 0;
            $scope.plan.friData = $scope.plan.friday ? weekMiles : 0;
            $scope.plan.satData = $scope.plan.saturday ? weekendMiles : 0;
            $scope.plan.sunData = $scope.plan.sunday ? weekendMiles : 0;
            
            $scope.plan.satRuns = findRun($scope.plan.satData);
            $scope.plan.satRun = $scope.plan.satRuns[Math.floor(Math.random() * $scope.plan.satRuns.length)];
            if($scope.plan.satRun){
            $scope.plan.satUrl = "http://www.strava.com/activities/" + $scope.plan.satRun.id;
			$scope.plan.satCoords = getCoordsFromPoly($scope.plan.satRun['map']['summary_polyline']);
			$scope.plan.satMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.satRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.satCoords[1]+ ","
				+ $scope.plan.satCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.sunRuns = findRun($scope.plan.sunData);
            $scope.plan.sunRun = $scope.plan.sunRuns[Math.floor(Math.random() * $scope.plan.sunRuns.length)];
            if($scope.plan.sunRun){
            $scope.plan.sunUrl = "http://www.strava.com/activities/" + $scope.plan.sunRun.id;
			$scope.plan.sunCoords = getCoordsFromPoly($scope.plan.sunRun['map']['summary_polyline']);
			$scope.plan.sunMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.sunRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.sunCoords[1]+ ","
				+ $scope.plan.sunCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.monRuns = findRun($scope.plan.monData);
            $scope.plan.monRun = $scope.plan.monRuns[Math.floor(Math.random() * $scope.plan.monRuns.length)];
            if($scope.plan.monRun){
            $scope.plan.monUrl = "http://www.strava.com/activities/" + $scope.plan.monRun.id;
			$scope.plan.monCoords = getCoordsFromPoly($scope.plan.monRun['map']['summary_polyline']);
			$scope.plan.monMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.monRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.monCoords[1]+ ","
				+ $scope.plan.monCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.tuesRuns = findRun($scope.plan.tuesData);
            $scope.plan.tuesRun = $scope.plan.tuesRuns[Math.floor(Math.random() * $scope.plan.tuesRuns.length)];
            if($scope.plan.tuesRun){
            $scope.plan.tuesUrl = "http://www.strava.com/activities/" + $scope.plan.tuesRun.id;
			$scope.plan.tuesCoords = getCoordsFromPoly($scope.plan.tuesRun['map']['summary_polyline']);
			$scope.plan.tuesMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.tuesRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.tuesCoords[1]+ ","
				+ $scope.plan.tuesCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.wedRuns = findRun($scope.plan.wedData);
            $scope.plan.wedRun = $scope.plan.wedRuns[Math.floor(Math.random() * $scope.plan.wedRuns.length)];
            if($scope.plan.wedRun){
            $scope.plan.wedUrl = "http://www.strava.com/activities/" + $scope.plan.wedRun.id;
			$scope.plan.wedCoords = getCoordsFromPoly($scope.plan.wedRun['map']['summary_polyline']);
			$scope.plan.wedsMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.wedRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.wedCoords[1]+ ","
				+ $scope.plan.wedCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.thursRuns = findRun($scope.plan.thursData);
            $scope.plan.thursRun = $scope.plan.thursRuns[Math.floor(Math.random() * $scope.plan.thursRuns.length)];
            if($scope.plan.thursRun){
            $scope.plan.thursUrl = "http://www.strava.com/activities/" + $scope.plan.thursRun.id;
			$scope.plan.thursCoords = getCoordsFromPoly($scope.plan.thursRun['map']['summary_polyline']);
			$scope.plan.thursMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.thursRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.thursCoords[1]+ ","
				+ $scope.plan.thursCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.friRuns = findRun($scope.plan.friData);
            $scope.plan.friRun = $scope.plan.friRuns[Math.floor(Math.random() * $scope.plan.friRuns.length)];
            if($scope.plan.friRun){
            $scope.plan.friUrl = "http://www.strava.com/activities/" + $scope.plan.friRun.id;
			$scope.plan.friCoords = getCoordsFromPoly($scope.plan.friRun['map']['summary_polyline']);
			$scope.plan.friMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.friRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.friCoords[1]+ ","
				+ $scope.plan.friCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
        }else{
            $scope.plan.total =  $scope.plan.miles / $scope.plan.days;
            $scope.plan.monData = $scope.plan.monday ? $scope.plan.total : 0;
            $scope.plan.tuesData = $scope.plan.tuesday ? $scope.plan.total : 0;
            $scope.plan.wedData = $scope.plan.wednesday ? $scope.plan.total : 0;
            $scope.plan.thursData = $scope.plan.thursday ? $scope.plan.total : 0;
            $scope.plan.friData = $scope.plan.friday ? $scope.plan.total : 0;
            $scope.plan.satData = $scope.plan.saturday ? $scope.plan.total : 0;
            $scope.plan.sunData = $scope.plan.sunday ? $scope.plan.total : 0;
            
            $scope.plan.satRuns = findRun($scope.plan.satData);
            $scope.plan.satRun = $scope.plan.satRuns[Math.floor(Math.random() * $scope.plan.satRuns.length)];
            if($scope.plan.satRun){
            $scope.plan.satUrl = "http://www.strava.com/activities/" + $scope.plan.satRun.id;
			$scope.plan.satCoords = getCoordsFromPoly($scope.plan.satRun['map']['summary_polyline']);
			$scope.plan.satMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.satRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.satCoords[1]+ ","
				+ $scope.plan.satCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.sunRuns = findRun($scope.plan.sunData);
            $scope.plan.sunRun = $scope.plan.sunRuns[Math.floor(Math.random() * $scope.plan.sunRuns.length)];
            if($scope.plan.sunRun){
            $scope.plan.sunUrl = "http://www.strava.com/activities/" + $scope.plan.sunRun.id;
			$scope.plan.sunCoords = getCoordsFromPoly($scope.plan.sunRun['map']['summary_polyline']);
			$scope.plan.sunMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.sunRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.sunCoords[1]+ ","
				+ $scope.plan.sunCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.monRuns = findRun($scope.plan.monData);
            $scope.plan.monRun = $scope.plan.monRuns[Math.floor(Math.random() * $scope.plan.monRuns.length)];
            if($scope.plan.monRun){
            $scope.plan.monUrl = "http://www.strava.com/activities/" + $scope.plan.monRun.id;
			$scope.plan.monCoords = getCoordsFromPoly($scope.plan.monRun['map']['summary_polyline']);
			$scope.plan.monMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.monRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.monCoords[1]+ ","
				+ $scope.plan.monCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.tuesRuns = findRun($scope.plan.tuesData);
            $scope.plan.tuesRun = $scope.plan.tuesRuns[Math.floor(Math.random() * $scope.plan.tuesRuns.length)];
            if($scope.plan.tuesRun){
            $scope.plan.tuesUrl = "http://www.strava.com/activities/" + $scope.plan.tuesRun.id;
			$scope.plan.tuesCoords = getCoordsFromPoly($scope.plan.tuesRun['map']['summary_polyline']);
			$scope.plan.tuesMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.tuesRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.tuesCoords[1]+ ","
				+ $scope.plan.tuesCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.wedRuns = findRun($scope.plan.wedData);
            $scope.plan.wedRun = $scope.plan.wedRuns[Math.floor(Math.random() * $scope.plan.wedRuns.length)];
            if($scope.plan.wedRun){
            $scope.plan.wedUrl = "http://www.strava.com/activities/" + $scope.plan.wedRun.id;
			$scope.plan.wedCoords = getCoordsFromPoly($scope.plan.wedRun['map']['summary_polyline']);
			$scope.plan.wedsMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.wedRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.wedCoords[1]+ ","
				+ $scope.plan.wedCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.thursRuns = findRun($scope.plan.thursData);
            $scope.plan.thursRun = $scope.plan.thursRuns[Math.floor(Math.random() * $scope.plan.thursRuns.length)]
            if($scope.plan.thursRun){
            $scope.plan.thursUrl = "http://www.strava.com/activities/" + $scope.plan.thursRun.id;
			$scope.plan.thursCoords = getCoordsFromPoly($scope.plan.thursRun['map']['summary_polyline']);
			$scope.plan.thursMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.thursRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.thursCoords[1]+ ","
				+ $scope.plan.thursCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
            $scope.plan.friRuns = findRun($scope.plan.friData);
            $scope.plan.friRun = $scope.plan.friRuns[Math.floor(Math.random() * $scope.plan.friRuns.length)];
            if($scope.plan.friRun){
            $scope.plan.friUrl = "http://www.strava.com/activities/" + $scope.plan.friRun.id;
			$scope.plan.friCoords = getCoordsFromPoly($scope.plan.friRun['map']['summary_polyline']);
			$scope.plan.friMap = "https://api.mapbox.com/v4/mapbox.streets/path-5+f44+f44(" 
				+ encodeURI($scope.plan.friRun['map']['summary_polyline']).replace('?', '%3F') + ")/"
				+ $scope.plan.friCoords[1]+ ","
				+ $scope.plan.friCoords[0]
				+ ",12/200x200.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q";
            }
        }
        console.log($scope.plan)
        
    };
}]);

function getCoordsFromPoly(poly){
	var coords=[]
	var polyCoo = decodePolyline(poly);
	if(polyCoo){
		console.log('****Coordinates****');
		console.log(polyCoo);
		var startCoo = polyCoo[0];
		console.log(startCoo);
		var endCoo = polyCoo[Math.floor(polyCoo.length / 2)]
		console.log(endCoo);
		coords.push((startCoo[0] + endCoo[0])/2)
		coords.push((startCoo[1] + endCoo[1])/2)
		return coords;
	}
}
function decodePolyline(str, precision) {
    var index = 0,
        lat = 0,
        lng = 0,
        coordinates = [],
        shift = 0,
        result = 0,
        byte = null,
        latitude_change,
        longitude_change,
        factor = Math.pow(10, precision || 5);

    // Coordinates have variable length when encoded, so just keep
    // track of whether we've hit the end of the string. In each
    // loop iteration, a single coordinate is decoded.
    while (index < str.length) {

        // Reset shift, result, and byte
        byte = null;
        shift = 0;
        result = 0;

        do {
            byte = str.charCodeAt(index++) - 63;
            result |= (byte & 0x1f) << shift;
            shift += 5;
        } while (byte >= 0x20);

        latitude_change = ((result & 1) ? ~(result >> 1) : (result >> 1));

        shift = result = 0;

        do {
            byte = str.charCodeAt(index++) - 63;
            result |= (byte & 0x1f) << shift;
            shift += 5;
        } while (byte >= 0x20);

        longitude_change = ((result & 1) ? ~(result >> 1) : (result >> 1));

        lat += latitude_change;
        lng += longitude_change;

        coordinates.push([lat / factor, lng / factor]);
    }

    return coordinates;
};

</script>