<h1>VANA</h1>

<!--DEVELOPMENT-->
<a id="link_to_strava"href="https://www.strava.com/oauth/authorize?client_id=8590&response_type=code&redirect_uri=http://localhost:3000/strava_auth&approval_prompt=auto"><%=image_tag("LogInWithStrava.png")%></a>
<!--PRODUCTION-->

<!--<a id="link_to_strava"href="https://www.strava.com/oauth/authorize?client_id=8590&response_type=code&redirect_uri=https://sheltered-everglades-5428.herokuapp.com/strava_auth&approval_prompt=auto"><%=image_tag("LogInWithStrava.png")%></a>-->

