/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

.title{
	color: black;
	font-size: 4.5em;
	margin-top: 45px;
	margin-left: 50px;
}

 img{
 	display: inline-block;
 	vertical-align: top;
 }

 #profile_pic{
 	height: 100px;
 	margin-top: 15px;
 	border-radius: 20px;
 }

 .day{
 	height: 125px;
 	width: 125px;
 }

 #boxes{
 	text-align: center;
 }

 th{
 	text-align: center;
 	margin: auto;
 }

 .nav{
 	background-color: rgba(151, 144, 144, 0.54);
 }

 #burger{
 	height:30px;
 	vertical-align: bottom;
 	margin-top: 80px;
 }

 #link_to_strava{
 	margin-top: 18%;
 }

 #dropdownMenu1{
 	border: none;
 }

 .btn-danger{
 	margin: 10px;
 }

 #indexDrop{
 	margin-top: 22px;
 }

 #burger{
 	border-radius: 10px;
 }

#greeting{
	margin-top: 100px;
	vertical-align: bottom;
}

 /*.checkbox-inline{
 	padding-left: 20px;
 	padding-right: 20px;
 	margin-left: 20px;
 }*/
